---
layout: default
lang: fi
title: Ongelmatilanteet ja tuki
head_title: Opinsysin järjestelmän käyttöopas
icon: icon-help-circled
---
<div class="main-area pure-u-1">
  <h2 class="main-title">{{page.title}}</h2>

  <h2>Yleistä:</h2>
  <p>Opinsys-tukipalvelu: <a href="http://tuki.opinsys.fi" title="tuki.opinsys.fi">tuki.opinsys.fi</a></p>
  <p>Puhelintuki: klo 8-16, 014 459 1625</p>
  <h2>Toiminta ongelmatapauksissa</h2>
  <h3>Yleisiä ohjeita</h3>
  <ul>
    <li>Ongelmista ilmoittaminen on erittäin tärkeää</li>
    <li>Vakavista ongelmista on ilmoitettava mahdollisimman pian puhelimitse</li>
    <li>Ongelma on aina vakava, jos se koskee useita käyttäjiä tai laitteita.</li>
  </ul>

  <div class="pure-u-1 anchor-link-wrap">
    <h3>Ohjeet:</h3>
      {% for post in site.categories.ongelmatilanteet-ja-tuki %}
        <a class="anchor-links" href="#{{post.anchor}}">{{ post.title }}</a>
      {% endfor %}
  </div>

  <div class="pure-u-1">
      {% for post in site.categories.ongelmatilanteet-ja-tuki %}
        <div>
          {{ post.content }}
        </div>
      {% endfor %}
  </div>
</div>
