---
layout: default
title: Etusivu
weight: 1
---
<div class="main-area pure-u-1">
  <h2>Opinsysin järjestelmän käyttöopas</h2>
  <p>Ohjeet Opinsysin järjestelmän käyttöön...</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum odio ligula, ac iaculis ante commodo quis. Donec eleifend posuere vulputate. Pellentesque pretium risus sodales metus feugiat, a rutrum tellus ullamcorper. Sed a dictum leo. Curabitur ut nibh sem. Vivamus viverra sodales orci malesuada sollicitudin. Mauris volutpat nisi eget turpis vestibulum euismod.</p>
</div>
{% include navigation.html %}
<div class="pure-u-1 all-pages">
  <h4>Kaikki ohjeet:</h4>
  <ul class="posts">
    {% for p in site.posts %}
      <li><a href="{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  </ul>
</div>