---
layout: default
title: Etusivu
head_title: Opinsysin järjestelmän käyttöopas
weight: 1
---
<div class="main-area pure-u-1">
  <h2 class="main-title">Opinsysin järjestelmän käyttöopas</h2>
  <p>Ohjeet Opinsysin järjestelmän käyttöön...</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum odio ligula, ac iaculis ante commodo quis. Donec eleifend posuere vulputate. Pellentesque pretium risus sodales metus feugiat, a rutrum tellus ullamcorper. Sed a dictum leo. Curabitur ut nibh sem. Vivamus viverra sodales orci malesuada sollicitudin. Mauris volutpat nisi eget turpis vestibulum euismod.</p>
</div>
{% include navigation.html %}
<div class="pure-u-1 all-pages">
  <h2>Kaikki ohjeet:</h2>
  <ul class="posts pure-g">
    {% for p in site.posts %}
      <li class="pure-u-1-2">
        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>