<div class="footer pure-u-1">
  <div class="contact">
    <p>
      <span><a href="{{site.variables.home_page}}" title="{{site.variables.home_page}}">{{site.variables.name}}</a</span>
      <span><a href="http://{{site.variables.site_name}}">{{site.variables.site_name}}</a></span>
      <span>{{site.variables.email}}</span>
    </p>
  </div>
  <div class="contact">
    <p>
      <i class="icon-facebook-squared"></i>
      <a href="https://facebook.com/{{site.variables.facebook_page}}">facebook.com/{{site.variables.facebook_page}}</a>
    </p>
    <p>
      <i class="icon-twitter-squared"></i>
      <a href="https://twitter.com/{{site.variables.twitter_username}}">twitter.com/{{site.variables.twitter_username}}</a>
    </p>
    <p>
      <i class="icon-youtube"></i>
      <a href="https://youtube.com/{{site.variables.youtube_username}}">youtube.com/{{site.variables.youtube_username}}</a>
    </p>
  </div>
</div>