<section class="site-navigation pure-u">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal main-navigation">
    <ul>
    {% assign sorted_pages = site.pages | sort:"name" %}
      {% for pages in sorted_pages %}
        {% if pages.title != "Etusivu" %}
          {% if pages.title %}
            <li>
              <a {% if pages.url == page.url %}class="active"{% endif %} href="{{pages.url}}">
                {{pages.title}}
                <i class="{{pages.icon}}"></i>
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</section>