.posts
  margin-bottom 2em
  padding 0
  li
    line-height 1.75em
    list-style-type none
  span
    color #aaa
    font-family Monaco, "Courier New", monospace
    font-size 80%

  li a:before
    background-color baseBorderColor
    border-radius 4px
    content ""
    height 7px
    display inline-block
    margin 0 15px 0 0
    width 7px

@media screen-breakpoint-two
  .posts
    li
      width 100%