.post
  h4
    margin-top 1.5rem
  ol
    list-style decimal
    margin-bottom 2rem
    li
      ol
        list-style lower-alpha
  img
    max-width 500px
    width 100%
  pre
    border 1px solid #ddd
    background-color rgb(240, 240, 240)
    font-family monospace
    font-size 90%
    display table
    padding 2%

  code
    border 1px solid #ddd
    background-color #eef
    padding 0 .2em
  .images
    padding 0 0 1rem
    ul
      list-style none

.post ul, .post ol
  margin-left 1.35em

.post-categories
  margin 2% 0 0
  h3
    margin 0
  ul
    padding 0
  li
    list-style none
    display inline-block
    &:last-child
      span:after
        content ""
    span
      font-size 90%
      &:after
        content ", "

.anchor-link-wrap
    margin 1rem 0
  .anchor-links
    &:after
      content " – "
      margin 0 .5rem
    &:last-child
      &:after
        content ""

@media screen-breakpoint-two
  .post
    .pure-u-11-24
      width 100%
    .images
      padding 1rem 0