<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- We don't want this to be found in search engines yet -->
    <meta name="robots" content="noindex, nofollow">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!-- icon font CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/vendor/fontello-opinsys-documentation/css/opinsys-documentation.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/master.css">
  </head>
  <body>
    <div class="site">
      <header class="site-header pure-u-1" >
        <div class="wrapper pure-g">
          <h1 class="title pure-u-1-2">
            <a href="{{ site.baseurl }}/" title="{{site.name}}">
              <img class="logo" src="{{ site.baseurl }}/images/opinsys_logo.png">
            </a>
            <a href="{{ site.baseurl }}/" title="{{site.name}}">ohjeet.opinsys.fi</a>
          </h1>
            {% include search.html %}
        </div>
      </header>
      <div class="wrapper">
        <div class="pure-u-1">
          {% include breadcrumb.html %}
          {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </div>
    <script src="{{ site.baseurl }}/vendor/js/search.min.js" type="text/javascript" charset="utf-8"></script>
    {% raw %}
      <script id="search-results-template" type="text/mustache">
        {{#entries}}
          <article class="search-result">
            <h3>
              {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{ displaydate }}</time></small>{{/date}}
              {% endraw %}
              <a href="{{ site.baseurl }}{% raw %}{{url}}">{{title}}</a>
            </h3>
          </article>
        {{/entries}}
      </script>
    {% endraw %}
      <script type="text/javascript">
      $(function() {
        $('#search-query').lunrSearch({
          indexUrl: '{{ site.baseurl }}/search.json',             // URL of the `search.json` index data for your site
          results:  '#search-results',          // jQuery selector for the search results container
          entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
          template: '#search-results-template'  // jQuery selector for the Mustache.js template
        });
      });
    </script>
  </body>
</html>
