// Theme colors

baseBg = rgb(227, 227, 217)
baseGradientBg = rgb(242, 242, 242)

baseBorderColor = rgb(62, 62, 45)

baseBrown = rgb(163, 106, 42)
baseBrownGradient = rgb(186, 114, 45)

baseFont = rgb(27, 27, 27)

buttonBg = rgb(245, 245, 245)
buttonGradientBg = rgb(220, 220, 220)
buttonHoverColor = rgb(51, 51, 51)

darkBorderColor = rgb(34, 34, 34)

linkColor = rgb(59, 139, 186)
linkHover = rgb(39, 119, 166)
linkVisited = rgb(110, 59, 186)

rowEvenBgColor = rgb(250,250,250)
rowOddBgColor = rgb(235,235,235)