*
  margin 0
  padding 0

html, body
  height 100%

body
  background-color baseBg
  background-image linear-gradient baseBg 0%, baseGradientBg 100%
  font 100% "Helvetica Neue", Arial, sans-serif
  font-size small
  color baseFont

h1
  font-size 250%
h2
  font-size 175%
h3
  font-size 150%
h4
  font-size 125%
h5
  font-size 110%
h6
  font-size 100%


p
  margin 1em 0

a
  color linkColor
  font-size 90%
  text-decoration none
  &:hover
    color linkHover