*
  box-sizing border-box
  margin 0
  padding 0

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
  font-family 'Open Sans','Helvetica Neue', Arial, sans-serif
body
  background-color baseBg
  background-image linear-gradient(baseBg 0%, baseGradientBg 100%)
  color baseFont
  font-size 100%

h1
  font-size 250%
h2
  font-size 175%
h3
  font-size 150%
h4
  font-size 125%
h5
  font-size 110%
h6
  font-size 100%
p
  font-size 90%
  margin 1rem 0

h1, h2, h3, h4, h5, h6, p
  font-weight normal
  margin 0 0 2%

a
  color linkColor
  font-size 90%
  text-decoration none
  &:hover
    color linkHover

ul
  margin 0
  padding 0 0 0 2%

hr
  border 1px solid baseBorderColor
  margin 2% 0

@media screen-breakpoint-two
  body
    font-size 80%