
.breadcrumbs
  font-size 80%
  margin 0 0 2%
  padding 0
  li
    display inline-block
    a
      font-size 100%
  .divider
    margin 0 .5em
.active
  color baseBrown

.site-navigation, .main-navigation
  height 100%
.site-navigation
  font-size 80%
  margin 1rem 0
  position relative
  width 100%
  .main-navigation
    ul
      width 100%
    li
      text-align center
      width 33%
      &:hover
        background-color baseBrown
      a
        background-color lightBrown
        color almostWhite
        font-size 120%
        margin 0 .2rem 0 0
        padding 2rem
      :hover
        background-color baseBrown
        color white
    .active
      background-color baseBrown
      color white
  [class^="icon-"]
    font-size 500%
    display block
    margin 2rem 0 0

@media screen-breakpoint-one
  .site-navigation
    .main-navigation
      li
        a
          font-size 105%
          padding 1rem

@media screen-breakpoint-two
  .site-navigation
    .main-navigation
      li
        a
          font-size 100%
          padding .5rem

@media screen-breakpoint-three
  .site-navigation
    .main-navigation
      li
        margin 0.5rem 0 0
        width 100%
        a
          font-size 120%
    [class^="icon-"]
      margin 1rem 0 0