.breadcrumbs
  font-size 80%
  margin 0 0 2%
  padding 0
  li
    display inline-block
    a
      font-size 100%
  .divider
    margin 0 .5em
.active
  color baseBrown

.site-navigation, .main-navigation
  height 100%
.site-navigation
  font-size 80%
  margin 0 0 2%
  position relative
  .main-navigation
    background-color lightBrown
    border-right 1px solid baseBorderColor
    bottom 0
    left 0
    padding 2% 0 0
    position fixed
    top 0
    width 235px
    li
      a
        color almostWhite
      a:hover
        background-color baseBrown
        color white
    .active
      background-color baseBrown
      color white