.post
  p
    font-size 85%
  pre
    border 1px solid #ddd
    background-color rgb(240, 240, 240)
    font-size 90%
    padding 2%
    code
      border none
    &.terminal
      border 1px solid baseBorderColor
      background-color #333
      color white
      code
        background-color #333
  code
    border 1px solid #ddd
    background-color #eef
    padding 0 .2em

.post ul, .post ol
  margin-left 1.35em

.post-categories
  margin 2% 0 0
  h3
    margin 0
  li
    list-style none
    display inline-block
    &:last-child
      span:after
        content ""
    span
      font-size 90%
      &:after
        content ", "