.search-wrapper
  margin 0 0 1rem
  h3, p
    font-weight 200
  .search-results
    background-color almostWhite
    border 1px solid opinsysCyan
    box-shadow inset 0 5px 100px rgba(65, 120, 107, 0.2)
    margin .5rem 0 0
    padding 1rem
    .search-results-header
      font-size 130%
      margin 0 0 1%
    .search-result
      h3
        font-size 130%
        margin 0 0 .5rem
  input
    width 100%