.site
  margin 2rem auto 0
  max-width 1200px
.header
  a
    font-weight bold
    text-decoration none
    &.extra
      color #aaa
      margin-left 1em
      &hover
        color #000
  .title
    display inline-block
    margin 0 0 2%
.meta
  color #aaa
.footer
  font-size 80%
  color #666
  border-top 2px solid baseBorderColor
  margin-top 2%
  overflow hidden
  padding 2% 0 0
  .contact
    float left
    margin-right 3em
    span
      display block
  .rss
    margin-top 1.1em
    margin-right -.2em
    float right
    img
      border 0
.wrapper
  background-color white
  background-clip padding-box
  border 5px solid baseOrangeAlhpa
  box-shadow 2px -2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0, 0, 0, 0.5), inset 0 5px 100px rgba(65, 120, 107, 0.2)
  margin 1rem
  max-width 1200px
  padding 2rem
  position relative

.main-area
  padding 0
  h2
    background-color lightBrown
    color white
    padding 1rem

.logo
  vertical-align middle
  width 200px

.all-pages
  margin 2% 0
  ul
    margin 0 0 0 2%

.video
  max-width 100%

@media screen-breakpoint-two
  .site
    margin 0
  .wrapper
    margin 0
    padding 1rem