.site
  font-size 115%
  height 100%
  margin 0
  padding 0
  text-align left
  width 100%
.header
  a
    font-weight bold
    text-decoration none
    &.extra
      color #aaa
      margin-left 1em
      &:hover
        color #000
  .title
    display inline-block
    margin 0 0 2%
.meta
  color #aaa
.footer
  font-size 80%
  color #666
  border-top 2px solid baseBorderColor
  margin-top 2%
  overflow hidden
  padding 2% 0 0
  .contact
    float left
    margin-right 3em
    span
      display block
  .rss
    margin-top 1.1em
    margin-right -.2em
    float right
    img
      border 0
.wrapper
  background-color white
  border-bottom 1px solid baseBorderColor
  border-right 1px solid baseBorderColor
  margin-left 235px
  max-width 1000px
  padding 2%

.main-area
  padding 0
  h2
    background-color baseBrown
    background-image linear-gradient(lightBrown 0%, baseBrown 100%)
    color white
    padding 1%

.logo
  vertical-align middle
  width 200px

.all-pages
  margin 2% 0
  ul
    margin 0 0 0 2%

.video
  max-width 100%